data/app/performance
data/app/profiling
data/elasticsearch
data/jmeter
data/ldap
data/mysql
data/redis
backups

data/app/sugar/*.log
data/app/sugar/.htaccess
data/app/sugar/config.php
data/app/sugar/config_override.php
data/app/sugar/cache
data/app/sugar/upgrades/module
data/app/sugar/upload
data/app/sugar/custom/blowfish
data/app/sugar/custom/history
data/app/sugar/custom/application/Ext
data/app/sugar/custom/modules/*/Ext
data/app/sugar/custom/Extension/**/*orderMapping.php